spring:
  datasource:
    url: jdbc:mysql://localhost:3306/HAPPYNOTES?createDatabaseIfNotExist=true&serverTimezone=Europe/Sofia
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect

application:
  security:
    jwt:
      secret-key: 56a11c91692220bca5d479bd1de2c0c0f90dfbeb397a831fcddd433437354099
      expiration: 86400000 # a day
